/*COLOR*/
/*FONT SIZE*/
/*FONT WEIGHT*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  z-index: 5;
  width: 100%;
  position: fixed;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container .logo img {
  width: 80px;
}
header .container nav ul {
  padding-left: 200px;
  display: flex;
  list-style: none;
  display: inline-block;
  height: 100%;
}
header .container nav ul li {
  margin: 0 20px;
  display: inline-block;
  height: 100%;
  position: relative;
  cursor: pointer;
}
header .container nav ul li a {
  padding-top: 20px;
  color: black;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  height: 100%;
}
header .container nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 35%;
  opacity: 0;
  width: 10px;
  height: 10px;
  background-color: #b61984;
  border-radius: 50%;
  transition: all 0.5s;
}
header .container nav ul li a:hover {
  color: #b61984;
}
header .container nav ul li a:hover::after {
  width: 15px;
  height: 15px;
  opacity: 1;
}
header .container nav ul li .item-2::after {
  opacity: 1;
}
header .container .contact {
  padding-top: 10px;
  display: flex;
}
header .container .contact .phone-contact a {
  text-decoration: none;
  color: white;
  display: inline-block;
  background: #b61984;
  width: 175px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  border-radius: 40px;
  border: none;
  outline: none;
  position: relative;
  mix-blend-mode: multiply;
}
header .container .contact .phone-contact a::before {
  transition: all 0.85s ease;
  display: inline-block;
  content: "";
  position: absolute;
  border-radius: 4rem;
  width: 0;
  box-sizing: border-box;
  z-index: -2;
  left: 50%;
  top: 50%;
  height: 0;
}
header .container .contact .phone-contact a:hover {
  color: #b61984;
}
header .container .contact .phone-contact a:hover::before {
  background: white;
  border: 1px solid #b61984;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
header .container .contact-icon {
  padding-top: 5px;
}
header .container .contact-icon ul {
  display: flex;
  list-style: none;
}
header .container .contact-icon ul li {
  margin: 0 5px;
}
header .container .contact-icon ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.5s;
}
header .container .contact-icon ul li a:hover {
  color: #b61984;
}

/*Carousel*/
.carousel {
  z-index: 4;
  display: flex;
  background-image: url("../images/yellow_top_wave_01.png");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}
.carousel .information-left {
  margin-top: 100px;
  padding-top: 100px;
  padding-left: 150px;
  flex-basis: 50%;
}
.carousel .information-left p {
  color: #b61984;
  font-weight: 600;
  margin-bottom: 5px;
}
.carousel .information-left h1 {
  font-weight: 700;
  font-size: 60px;
}
.carousel .information-right {
  margin-top: 100px;
  flex-basis: 50%;
}
.carousel .information-right image {
  width: 70%;
  opacity: 0;
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pic-bottom {
  position: absolute;
  background-image: url("../images/Violet_top_left_wave.png");
  height: 224px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  bottom: 5px;
  top: 500px;
}

.portfolio {
  background-color: #dcd1f3;
  position: relative;
}
.portfolio .container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .container .portfolio-item {
  padding-top: 20px;
  width: 25%;
  z-index: 3;
}
.portfolio .container .portfolio-item .portfolio-content {
  border-radius: 10px;
  background-color: white;
  margin: 0 20px;
  padding: auto;
  align-items: center;
  transition: all 0.5s;
}
.portfolio .container .portfolio-item .portfolio-content .per-img {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.portfolio .container .portfolio-item .portfolio-content .per-img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}
.portfolio .container .portfolio-item .portfolio-content .per-img img:hover {
  transform: scale(1.1);
}
.portfolio .container .portfolio-item .portfolio-content .intro {
  text-align: center;
  padding-top: 5px;
}
.portfolio .container .portfolio-item .portfolio-content .intro h2 {
  color: #b61984;
  font-size: 13px;
}
.portfolio .container .portfolio-item .portfolio-content .intro h1 {
  font-size: 20px;
}
.portfolio .container .portfolio-item .portfolio-content .intro p {
  font-size: 14px;
}
.portfolio .container .portfolio-item .portfolio-content:hover {
  box-shadow: 2px 5px 35px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 5px 35px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 5px 35px 2px rgba(0, 0, 0, 0.75);
}
.portfolio .pic-bottom1 {
  background-image: url("../images/Wave_White_bottom_right_shape_01.png");
  background-size: contain;
  width: 100%;
  height: 354px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 0;
  top: 295px;
}

/*FOOTER*/
footer {
  background-image: url(../images/footer_background.jpg);
  background-size: contain;
  height: 380px;
  background-repeat: no-repeat;
}
footer .container {
  padding-top: 50px;
  width: 85%;
  margin: auto;
  display: flex;
}
footer .container .footer-item {
  margin: 0 20px;
  width: 25%;
}
footer .container .footer-item h1 {
  font-weight: 650;
  font-size: 20px;
  color: white;
}
footer .container .footer-item nav ul {
  list-style: none;
}
footer .container .footer-item nav ul li {
  margin-top: 20px;
  margin-left: -30px;
  font-size: 13px;
}
footer .container .footer-item nav ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 20px;
  border-bottom: 1px solid #646464;
  transition: all 0.5s;
}
footer .container .footer-item nav ul li a:hover {
  color: #dedada;
}
footer .container .footer-item1 {
  margin-right: 10px;
  width: 25%;
}
footer .container .footer-item1 .footer-title h1 {
  font-weight: 650;
  font-size: 20px;
  color: white;
}
footer .container .footer-item1 .footer-contact {
  margin-top: 20px;
}
footer .container .footer-item1 .footer-contact ul {
  list-style: none;
}
footer .container .footer-item1 .footer-contact ul li {
  margin-top: 10px;
  margin-left: -30px;
  font-size: 13px;
  color: white;
}
footer .container .footer-item1 .footer-contact ul li span {
  margin-left: 10px;
}
footer .container .footer-item1 .footer-icon ul {
  list-style: none;
  display: flex;
  margin-left: -34px;
}
footer .container .footer-item1 .footer-icon ul li {
  margin: 0 5px;
}
footer .container .footer-item1 .footer-icon ul li a {
  font-size: 13px;
  color: white;
  transition: all 0.5s;
}
footer .container .footer-item1 .footer-icon ul li a:hover {
  color: black;
}
footer .container .footer-item4 {
  width: 25%;
}
footer .container .footer-item4 h1 {
  font-weight: 650;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}
footer .container .footer-item4 .UrEmail {
  width: 80%;
  border-radius: 40px;
  margin-bottom: 10px;
}
footer .container .footer-item4 .UrEmail input {
  text-align: center;
  background-color: #aa017e;
  border-radius: 40px;
  display: inline-block;
  padding: auto;
  height: 35px;
  outline: none;
  padding-bottom: 5px;
  border: 1px solid gray;
  -webkit-transition: 0.5s;
}
footer .container .footer-item4 .UrEmail input::-moz-placeholder {
  text-align: center;
  color: white;
  font-size: 10px;
}
footer .container .footer-item4 .UrEmail input:-ms-input-placeholder {
  text-align: center;
  color: white;
  font-size: 10px;
}
footer .container .footer-item4 .UrEmail input::placeholder {
  text-align: center;
  color: white;
  font-size: 10px;
}
footer .container .footer-item4 .UrEmail input:focus {
  border: 1px solid white;
}
footer .container .footer-item4 .sub a {
  width: 80%;
  text-decoration: none;
  color: black;
  display: inline-block;
  background: white;
  font-size: 13px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  border-radius: 40px;
  border: none;
  outline: none;
  position: relative;
  mix-blend-mode: lighten;
}
footer .container .footer-item4 .sub a::before {
  transition: all 0.85s ease;
  display: inline-block;
  content: "";
  position: absolute;
  border-radius: 4rem;
  width: 0;
  box-sizing: border-box;
  z-index: -2;
  left: 50%;
  top: 50%;
  height: 0;
}
footer .container .footer-item4 .sub a:hover {
  color: white;
}
footer .container .footer-item4 .sub a:hover::before {
  background: #b61984;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*Courses*/
.find-course {
  position: relative;
  padding-top: 100px;
  padding-bottom: 85px;
  display: flex;
  justify-content: center;
}
.find-course .information-left img {
  width: 80%;
}
.find-course .information-right form {
  background-color: white;
  width: 75%;
  box-shadow: 1px 2px 35px 14px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 1px 2px 35px 14px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 1px 2px 35px 14px rgba(0, 0, 0, 0.32);
  border-radius: 10px;
}
.find-course .information-right form .container {
  margin: auto;
}
.find-course .information-right form .container .title {
  padding: 20px 0;
}
.find-course .information-right form .container .title h1 {
  font-size: 30px;
}
.find-course .information-right form .container .row1 {
  display: flex;
  justify-content: space-between;
}
.find-course .information-right form .container .row1 .Name {
  padding-top: 5px;
  width: 40%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 40px;
}
.find-course .information-right form .container .row1 .Name span {
  color: #aa017e;
  margin-left: 10px;
  display: inline-block;
}
.find-course .information-right form .container .row1 .Name input {
  outline: none;
  border: none;
  border-radius: 40px;
  display: inline-block;
  width: 75%;
}
.find-course .information-right form .container .row1 .Email {
  padding-top: 5px;
  height: 40px;
  width: 55%;
  border: 1px solid gray;
  border-radius: 40px;
}
.find-course .information-right form .container .row1 .Email span {
  color: #aa017e;
  margin-left: 10px;
}
.find-course .information-right form .container .row1 .Email input {
  display: inline-block;
  width: 80%;
  outline: none;
  border: none;
  border-radius: 40px;
}
.find-course .information-right form .container .row2 {
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 40px;
}
.find-course .information-right form .container .row2 span {
  color: #aa017e;
  margin-left: 10px;
}
.find-course .information-right form .container .row2 select {
  display: inline-block;
  width: 85%;
  border: none;
  border-radius: 40px;
}
.find-course .information-right form .container .row3 {
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid gray;
  height: 90%;
}
.find-course .information-right form .container .row3 span {
  color: #aa017e;
  margin-left: 10px;
}
.find-course .information-right form .container .row3 textarea {
  width: 89%;
  margin-left: 28px;
  margin-top: -20px;
  border: none;
  outline: none;
  font-size: 13px;
}
.find-course .information-right form .container .row4 {
  padding: 20px 0;
}
.find-course .information-right form .container .row4 button {
  text-decoration: none;
  color: white;
  display: inline-block;
  background: #b61984;
  width: 175px;
  height: 40px;
  text-align: center;
  padding-top: 0px;
  border-radius: 40px;
  border: none;
  outline: none;
  position: relative;
  mix-blend-mode: multiply;
}
.find-course .information-right form .container .row4 button::before {
  transition: all 0.85s ease;
  display: inline-block;
  content: "";
  position: absolute;
  border-radius: 4rem;
  width: 0;
  box-sizing: border-box;
  z-index: -2;
  left: 50%;
  top: 50%;
  height: 0;
}
.find-course .information-right form .container .row4 button:hover {
  color: #b61984;
}
.find-course .information-right form .container .row4 button:hover::before {
  background: white;
  border: 1px solid #b61984;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.find-course .pic-3 {
  position: absolute;
  background-image: url(../images/accent_bottom_wave_01.png);
  background-size: contain;
  width: 100%;
  height: 500px;
  top: 350px;
  background-repeat: no-repeat;
  z-index: -3;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.fade-in.three {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}

.fade-in.four {
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
}