/*COLOR*/
$text-c1-purple: #b61984;
$text-c1-white: white;
$text-c1-black: black;
$text-c2-purple: #dcd1f3;


/*FONT SIZE*/
$fs-text-1: 13px;
$fs-text-2: 14px;
$fs-text-3: 60px;


/*FONT WEIGHT*/
$fw-text-1: 600;
$fw-text-2:650;
$fw-text-3: 700;